.protondb_row {
    padding-top: 13px;
}

.protondb_rating_link {
    text-transform: capitalize;
}

.wishlist_row .stats .protondb_rating_link {
    text-transform: uppercase;
}

.protondb_rating_link:hover {
    color: #FFFFFF !important;
}

.protondb_rating_borked {
    color: #FF1919 !important;
}

.protondb_rating_bronze {
    color: #CD7F32 !important;
}

.protondb_rating_silver {
    color: #C0C0C0 !important;
}

.protondb_rating_gold {
    color: #FFD799 !important;
}

.protondb_rating_platinum {
    color: #B4C7DC !important;
}

.protondb_rating_native {
    color: #008000 !important;
}
